@media (max-width: 650px) {
  .title__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    font-family: apercu, sans-serif;
    margin: 10vh 0vh;
    width: 100%;
  }
  .title__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 95%;
  }
  .title__wrapper img {
    height: 40px;
    margin-right: 20px;
  }
  .title__container h1 {
    font-size: 2rem;
    text-align: center;
  }
  .title__container h2 {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
  }
  .title__container h3 {
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
  }
}

@media (min-width: 651px) and (max-width: 1200px) {
  .title__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    font-family: apercu, sans-serif;
    margin: 10vh 0vh;
    width: 100%;
  }
  .title__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 90%;
  }
  .title__wrapper img {
    height: 50px;
    margin-right: 20px;
  }
  .title__container h1 {
    font-size: 2.2rem;
    text-align: center;
  }
  .title__container h2 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
  .title__container h3 {
    font-size: 1.4rem;
    font-weight: 200;
    text-align: center;
  }
}

@media (min-width: 1201px) {
  .title__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    font-family: apercu, sans-serif;
    margin: 10vh 0vh;
  }
  .title__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }
  .title__wrapper img {
    height: 50px;
    margin-right: 20px;
  }
  .title__container h1 {
    font-size: 3rem;
  }
  .title__container h2 {
    font-size: 1rem;
    font-weight: 600;
  }
  .title__container h3 {
    font-size: 1.4rem;
    font-weight: 200;
  }
}
