@media (max-width: 800px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
  }
  .contact__container h1 {
    text-align: center;
    box-sizing: border-box;
    padding: 5vh 0vh;
    font-size: 2.5rem;
  }
  .contact__container h2 {
    box-sizing: border-box;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }
  .contact__container h3 {
    box-sizing: border-box;
    font-size: 1rem;
    width: 100%;
    font-weight: 400;
    text-align: center;
  }
  .contact__wrapper__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contact__wrapper__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    box-sizing: border-box;
    justify-content: center;
  }
  .contact__form {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .contact__form input {
    height: 60px;
    border: none;
  }
  .contact__form input:focus {
    border: none;
  }
  .contact__form label {
    width: 90%;
    color: rgb(168, 168, 168);
    font-size: 0.9rem;
    box-sizing: border-box;
    padding: 17px 0px 6px 0px;
  }
  .contact__form textarea {
    border: none;
    resize: none;
    height: 100px;
  }
  .contact__wrapper {
    display: flex;
    width: 80%;
    box-sizing: border-box;
    padding: 5px 0px;
    min-height: 50px;
  }
  .contact__wrapper input[type="checkbox"] {
    width: 20px;
    border: solid gray 1px;
    margin-right: 10px;
  }
  .contact__wrapper p {
    font-size: 0.8rem;
  }
  .contact__wrapper b {
    cursor: pointer;
  }
  .contact__button__black {
    background-color: black;
    color: #f9f9f9;
    border: solid 1px black;
    padding: 14px 20px;
    border-radius: 9999px;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact__button__black:hover {
    background-color: #444444;
    border: solid 1px black;
  }
}
@media (min-width: 801px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
  }
  .contact__container h1 {
    text-align: center;
    box-sizing: border-box;
    padding: 10vh;
    font-size: 4rem;
  }
  .contact__container h2 {
    box-sizing: border-box;
    font-size: 1.8rem;
    width: 80%;
    padding-left: 50px;
  }
  .contact__container h3 {
    box-sizing: border-box;
    padding-left: 50px;
    font-size: 1rem;
    width: 80%;
    font-weight: 400;
  }
  .contact__wrapper__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .contact__wrapper__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
  }
  .contact__form {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .contact__form input {
    height: 60px;
    border: none;
  }
  .contact__form input:focus {
    border: none;
  }
  .contact__form label {
    width: 90%;
    color: rgb(168, 168, 168);
    font-size: 0.9rem;
    box-sizing: border-box;
    padding: 17px 0px 6px 0px;
  }
  .contact__form textarea {
    border: none;
    resize: none;
    height: 100px;
  }
  .contact__wrapper {
    display: flex;
    width: 80%;
    box-sizing: border-box;
    padding: 5px 0px;
    min-height: 50px;
  }
  .contact__wrapper input[type="checkbox"] {
    width: 20px;
    border: solid gray 1px;
    margin-right: 10px;
  }
  .contact__wrapper p {
    font-size: 0.9rem;
  }
  .contact__wrapper b {
    cursor: pointer;
  }
  .contact__button__black {
    background-color: black;
    color: #f9f9f9;
    border: solid 1px black;
    padding: 14px 20px;
    border-radius: 9999px;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact__button__black:hover {
    background-color: #444444;
    border: solid 1px black;
  }
}
