@media (max-width: 800px) {
  .socials__container {
    display: flex;
    min-height: 20vh;
    background-image: linear-gradient(
      to right,
      black 33%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: top;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    width: 100%;
  }
  .socials__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .socials__wrapper__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    gap: 30px;
  }
  .socials__wrapper__row h1 {
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
    width: 20%;
    text-align: center;
  }
  .socials__icon__wrapper {
    display: flex;
    flex-direction: row;
    min-width: 10%;
    align-items: center;
    gap: 5px;
  }
}
@media (min-width: 801px) and (max-width: 1600px) {
  .socials__container {
    display: flex;
    min-height: 20vh;
    background-image: linear-gradient(
      to right,
      black 33%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: top;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    width: 100%;
  }
  .socials__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .socials__wrapper__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    gap: 30px;
  }
  .socials__wrapper__row h1 {
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
    width: 20%;
    text-align: center;
  }
  .socials__icon__wrapper {
    display: flex;
    flex-direction: row;
    min-width: 10%;
    align-items: center;
    gap: 5px;
  }
}
@media (min-width: 1601px) {
  .socials__container {
    display: flex;
    min-height: 20vh;
    background-image: linear-gradient(
      to right,
      black 33%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: top;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    width: 100%;
  }
  .socials__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .socials__wrapper__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%;
    gap: 40px;
  }
  .socials__wrapper__row h1 {
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
  }
  .socials__icon__wrapper {
    display: flex;
    flex-direction: row;
    min-width: 5%;
    align-items: center;
    gap: 5px;
  }
}
